body {
	width: 100%;
}

.logo {
	width: 40%;
	height: 15%;
	float: left;
}
.logo_img {
	padding-left: 200px;
	width: 300px;
	height: 120px;
}

.searchbox {
	width: 60%;
	height: 7.5%;
	float: right;
	color: grey;
}
.call {
	margin-top: 30px;
	font-family: Calibri;
	margin-left: 120px;
}
.btsb {
	border-style: solid;
	border-color: #c0c0c0;
	color: white;
	background-color: white;
	margin-top: 7px;
	padding: 5px 5px 5px 150px;
	text-align: center;
	display: inline-block;
	font-size: 16px;
}

.nav {
	width: 60%;
	height: 7.5%;
	float: right;
}
li {
	color: grey;
	font-size: 12px;
	list-style-type: none;
	display: inline;
	margin-right: 20px;
	padding-bottom: 50px;
}

.line1 {
	width: 100%;
	height: 12%;
	float: left;
	background-color: grey;
	background-image: url('images/icon5.png');
	background-repeat: no-repeat;
	background-position: 250px;
}
.h3L1 {
	color: white;
	font-size:20px;
	padding-left: 330px;
	margin-bottom: 20px;
}
.btL1 {
	border-style: solid;
	border-color: white;
	color: white;
	background-color: grey;
	margin-top: 7px;
	padding: 10px 30px 10px 30px;
	text-align: center;
	display: inline-block;
	font-size: 16px;
}

.banner {
	width: 100%;
	height: 60%;
	float: left;
}
.banner_img {
	max-width: 100%;
	max-height: 100%;
	margin-left: 120px;
}

.aboutleft {
	width: 50%;
	height: 90%;
	float: left;
}
.h1AL, .h2AL, .pAL, .AL_img, .ALinput {
	margin-left: 200px;
	font-family: Calibri;
}
.h1AL {
	margin-top: 100px;
}
.ALinput {
	background-color: green;
	border-style: solid;
	border-color: white;
	color: white;
	margin-top: 7px;
	padding: 10px 30px 10px 30px;
	text-align: center;
	display: inline-block;
	font-size: 16px;
}

.aboutright {
	width: 50%;
	height: 90%;
	float: right;
}
.AR_img {
	margin-top: 200px;
	border-style: solid;
	border-width: 7px;
	border-color: grey;
}

.hvw {
	width: 100%;
	height: 70%;
	float: left;
}

.whatever {
	width: 100%;
	height: 100%;
	float: left;
	background-image: url('images/hbg6.png');
}
.whatever_h3, .drp, .drh3 {
	text-align: center;
}
.whatever_h3 {
	line-height: 20px;
	padding: 20px 300px 0 300px;
	color: grey;
}
.up {
	width: 100%;
	height: 20%;
	float: left;
}
.dl {
	margin-left: 345px;
	width: 25%;
	height: 60%;
	float: left;
	background-color: white;
}
.dr {
	margin-left: 10px;
	width: 25%;
	height: 60%;
	float: left;
	background-color: white;
}
.drp {
	color: grey;
}
.dl_img {
	margin-left: 130px;
}
.btdl {
	border-style: solid;
	border-color: white;
	color: white;
	background-color: green;
	margin-top: 7px;
	padding: 10px 30px 10px 30px;
	text-align: center;
	display: inline-block;
	font-size: 16px;
	margin-left: 100px;
}


.client {
	width: 100%;
	height: 75%;
	float: left;
}

.blog {
	width: 100%;
	height: 90%;
	float: left;
}
.upb {
	width: 100%;
	height: 30%;
	float: left;
}
.d1 {	
	margin-left: 200px;
	width: 22%;
	height: 70%;
	float: left;
}
.d2 {	
	margin-left: 20px;
	width: 22%;
	height: 70%;
	float: left;
}
.d3 {
	margin-left: 20px;
	width: 22%;
	height: 70%;
	float: left;
}
.btd2 {
	border-style: solid;
	border-color: green;
	color: green;
	background-color: white;
	margin-top: 7px;
	padding: 10px 30px 10px 30px;
	text-align: center;
	display: inline-block;
	font-size: 16px;
}
.btd13 {
	border-style: solid;
	border-color: green;
	color: white;
	background-color: green;
	margin-top: 7px;
	padding: 10px 30px 10px 30px;
	text-align: center;
	display: inline-block;
	font-size: 16px;
}

.line2 {
	width: 100%;
	height: 12%;
	float: left;
	background-color: grey;
	background-image: url('images/icon5.png');
	background-repeat: no-repeat;
	background-position: 400px;
}
.h3L2 {
	color: white;
	font-size:20px;
	padding-left: 500px;
	margin-bottom: 20px;
}

.darklogo {
	width: 50%;
	height: 25%;
	float: left;
	background-color: #404040;
}
.darklogo_img {
	padding-left: 300px;
	width: 300px;
	height: 120px;
}
.call1 {
	padding-left: 300px;
	color: white;
	font-size: 20px;
}

.shortcut {
	width: 50%;
	height: 25%;
	float: right;
	background-color: #404040;
}
.short_p {
	color: white;
	font-size: 15px;
	text-align: center;
}
.btSh {
	border-style: solid;
	border-color: white;
	color: white;
	background-color: green;
	margin-top: 7px;
	padding: 10px 30px 10px 30px;
	text-align: center;
	display: inline-block;
	font-size: 16px;
}


.contact {
	width: 100%;
	height: 40%;
	float: left;
	background-color: #404040;
	color: white;
}
.l {	
	margin-top: 20px;
	width: 20%;
	padding-left: 250px;
	height: 100%;
	float: left;
	background-color: #404040;	
}
.m {
	width: 20%;
	margin-top: 20px;
	padding-left: 30px;
	float: left;
	height: 100%;
	background-color: #404040;	
}
.r {
	padding-left: 30px;
	margin-top: 20px;
	width: 20%;
	height: 100%;
	float: left;
	background-color: #404040;	
}

.footer {
	width: 100%;
	height: 6%;
	float: left;
	color: white;
	background-color: black;
}
.prefoot {
	margin-left: 250px;
	margin-right: 250px;
}
